// Colors
//$color-background-main: #ffffff;
//$color-background-alt: #f7f7fc;

$color-foreground-light: #CECECE;

$color-chameleon-dark: #070516;
$color-chameleon-standard: #1B182F;
$color-chameleon-light: #3A3849;
$color-chameleon-shine: #63626D;

$color-contour-dark: #FD3B3A;
$color-contour-standard: #FDB154;
$color-contour-light: #FFE4B1;

$color-danger: #d92c28;
$color-warning: #FF8200;
$color-success: #76d641;
$color-nostatus: #FCE100;
