@import "../Utils/module";

#game-index-container,
#game-replay-container {
    .game-overlay-modal {
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba($color-contour-standard, 0.6);

        .mid {
            width: 300px;
            height: 300px;
            /* Center vertically and horizontally */
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -150px 0 0 -150px; /* apply negative top and left margins to truly center the element */
            font-size: 32px;
            text-align: center;
            text-shadow: 0 0 5px rgba(black, 0.5);

            b {
                display: block;
            }
        }
    }

    #player-label {
        display: block;
        text-align: center;

        .p1 {
            color: blue;
        }

        .p2 {
            color: red;
        }

        .p1.--turn, .p2.--turn {
            text-decoration: underline;
        }
    }

    #chat-message-list {
        margin-top: 10px;

        li {
            list-style-type: none;
            margin-bottom: 5px;
            font-weight: bold;

            .time {
                color: $color-foreground-light;
            }

            .message {
                font-weight: normal;
                font-style: italic;
                line-height: 14px;
                display: block;
                margin-left: 10px;
            }
        }
    }

    .gameplay-container {
        position: relative;
        overflow-x: auto;
        overflow-y: auto;
        width: 100%;
        height: calc(75vh - 1px);

        #gameplay-table {
            height: auto;
            border: 3px solid black;
            border-collapse: unset;
            border-spacing: 2px;
            //table-layout: fixed;
            margin: auto;

            tr {
                border: 1px solid black;
                padding: 0;

                td {
                    overflow: hidden;
                    border: 1px solid black;
                    padding: 0;
                    background-color: $color-background-main;

                    &.empty {
                        cursor: pointer;

                        &:hover {
                            background-color: $color-contour-light;
                        }
                    }

                    &.p1 {
                        color: blue;
                    }

                    &.p2 {
                        color: red;
                    }

                    &.p1h {
                        color: blue;
                        background-color: $color-contour-light;
                    }

                    &.p2h {
                        color: red;
                        background-color: $color-contour-light;
                    }

                    & > div {
                        font-size: 14px;
                        text-align: center;
                        line-height: 35px;
                        min-width: 35px;
                        max-width: 35px;
                        min-height: 35px;
                        max-height: 35px;
                    }
                }
            }
        }
    }
}
