@import "../Utils/module";

#lobby-index-container {
    .table {
        tr {
            td {
                vertical-align: middle;
            }

            &.--online {
                td.status-indicator {
                    color: $color-success;
                }
            }

            &.--offline {
                td.status-indicator {
                    color: $color-danger;
                }
            }
        }
    }

    .lobby-table-btn {
        padding: 0;
        margin: 0;
        height: 28px;
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bold;
    }
}
